@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    scroll-behavior: smooth;
}

.goTop {
    position: fixed;
    bottom: 4%;
    right: 4%;
    display: block;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
}

.toggle {
    position: fixed;
    top: 20px;
    right: 30px;
    background: #000 url(../images/menu.png) no-repeat center;
    background-size: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 20;
}

.toggle.active {
    background-image: url(../images/close.png);
    background-size: 25px;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 58.5%;
    height: 100vh;
    background-color: #000;
    z-index: 19;
    transform: translateX(100%);
    opacity: 0.5;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 2em;
    display: block;
    color: #fff;
    letter-spacing: 4px;
    margin: 20px 0;
}

.menu.active {
    transform: translateX(0);
    opacity: 1;
}

.home {
    height: 100vh;
    overflow: hidden;
}

.home__img {
    padding: 0;
}

.home__img img {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home__content {
    padding: 50px 100px;
    position: relative;
}

.home__content h5 {
    background-color: #333;
    display: inline-block;
    font-size: 1.6em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    padding: 0 10px;
}

.home__content .wrap-content {
    margin: 40px 0 10px 0;
}

.wrap-content h4 {
    color: #00bcd4;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
}

.wrap-content h2 {
    color: #333;
    font-size: 3em;
    font-weight: 700;
}

.wrap-content span {
    color: #333;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 400;
}

.home__content p {
    color: #333;
    font-size: 1em;
}

.home__content .btn-box {
    position: absolute;
    width: 180px;
    height: 50px;
    background-color: #00bcd4;
    padding: 3px;
    overflow: hidden;
    margin-top: 14px;
}

.home__content .inner-btn-box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.home__content .btn-box::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
}

.home__content .btn-box::after {
    content: " ";
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    z-index: 10;
}

.home__content .inner-btn-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: #00bcd4;
    transition: 0.5s;
}

.home__content .inner-btn-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: #00bcd4;
    transition: 0.5s;
    z-index: 11;
}

.home__content .btn-box:hover::before {
    left: 0;
}

.home__content .btn-box:hover::after {
    right: 0;
}

.home__content .inner-btn-box:hover::before {
    left: 0;
}

.home__content .inner-btn-box:hover::after {
    right: 0;
}

.home__content .btn-box h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00bcd4;
    line-height: 40px;
    z-index: 15;
    text-align: center;
    width: 100%;
    letter-spacing: 3px;
    transition: 0.5s;
    font-size: 18px;
}

.home__content .btn-box:hover h4 {
    color: #fff;
}

.home__content ul {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    list-style: none;
}

.home__content ul li {
    margin-right: 10px;
}

.home__content ul li a img {
    margin-right: 10px;
    transform: scale(0.7);
    color: #000;
    opacity: 0.8;
    transition: 0.5s;
}

.home__content ul li:hover > a img {
    opacity: 1;
}

/* ABOUT */

.about {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.about__title {
    margin-bottom: 40px;
}

.about__title h2 {
    color: #fff;
    position: relative;
    font-size: 2em;
    letter-spacing: 3px;
}

.about__title h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background-color: #fff;
}

.about__content {
    display: flex;
    align-items: center;
}

.about__content div p {
    color: #fff;
}

.about__img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

/* SERVICES */

.services {
    padding: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title.white {
    color: #fff;
}

.title h2 {
    margin-bottom: 40px;
    position: relative;
    font-size: 2em;
    letter-spacing: 3px;
}

.title h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background-color: #000;
}

.title.white h2::after {
    background-color: #fff;
}

.title p {
    text-align: center;
    max-width: 700px;
}

.services__col {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.services__item {
    padding: 40px;
    background-color: #c5c5c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: default;
}

.services__item:hover img {
    filter: invert(1);
}

.services__item:hover {
    background-color: #000;
    color: #fff;
}

.services__item h2 {
    margin-top: 26px;
    margin-bottom: 20px;
}

.services__item p {
    text-align: center;
}

/* WORKS */

.works {
    padding: 100px;
}

.wrap_projects {
    overflow: hidden;
}

.works__content {
    margin-top: 40px;
    position: relative;
    overflow-x: auto;
}

.works__list {
    flex-wrap: nowrap;
}

.works__content::-webkit-scrollbar {
    height: 12px;
}

.works__content::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.works__item {
    position: relative;
    display: block;
    text-decoration: none;
    color: #000;
}

.works__item h5 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
}

.works__item:hover h5 {
    opacity: 1;
}

.works__item img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/* CONTACT */
.contact {
    min-height: 100vh;
    background-color: #000;
    padding: 100px 300px;
}

.contact__form {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__form input[name="fname"],
.contact__form input[name="lname"],
.contact__form input[name="email"],
.contact__form input[name="tel"],
.contact__form input[name="submit"] {
    width: 48%;
    margin-bottom: 20px;
    background-color: #111;
    outline: none;
    border: none;
    border-radius: 0px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.contact__form input[name="submit"],
.contact__form textarea {
    width: 100%;
    background-color: #111;
    resize: none;
    outline: none;
    border: none;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    padding: 10px;
    max-height: 100px;
}

.contact__form input[name="submit"] {
    cursor: pointer;
}

.foot {
    background-color: #111;
    color: #ccc;
    padding: 10px 0;
}

.foot h3 {
    text-align: center;
}

.hide {
    display: none;
}
